In [120]:
import pandas as pd
import numpy as np

In [150]:
### Import dataset for winrate 
winrate_dataframe = pd.read_csv("../data/heroes_matchups.csv")
### Import dataset for test
test_set = pd.read_csv("../data/random_matches.csv")
winrate_dataframe.loc[(winrate_dataframe["hero"] == 69) & (winrate_dataframe["opponent"] == 105)]

      hero  opponent  hero_wins  games_played  win_rate
7998    69       105          1             2       0.5

In [122]:
test_set["radiant_team"] = test_set["radiant_team"].str.split("-")
test_set["dire_team"] = test_set["dire_team"].str.split("-")

In [123]:
test_set

       match_id victor_team            radiant_team              dire_team
0    5497083018     Radiant    [113, 96, 1, 83, 58]  [106, 66, 13, 67, 39]
1    5497084606     Radiant   [96, 22, 46, 119, 93]   [19, 111, 39, 6, 16]
2    5497086811     Radiant    [38, 3, 88, 126, 42]   [35, 93, 31, 82, 96]
3    5497087112        Dire     [110, 23, 39, 1, 7]   [9, 84, 38, 101, 70]
4    5497089611     Radiant  [107, 59, 89, 21, 110]   [48, 106, 3, 93, 53]
..          ...         ...                     ...                    ...
348  5496943702        Dire    [107, 23, 30, 64, 1]   [9, 10, 110, 120, 8]
349  5496943914        Dire   [34, 126, 65, 95, 64]  [86, 90, 104, 56, 48]
350  5496944214     Radiant    [9, 48, 106, 14, 83]  [49, 38, 12, 100, 86]
351  5496945916        Dire    [112, 98, 81, 9, 80]  [36, 42, 126, 100, 3]
352  5496946503        Dire    [54, 5, 63, 80, 108]  [41, 68, 36, 120, 22]

[353 rows x 4 columns]

In [124]:
### Test set
team_comps = [[22,33,34,55,77],[12,42,52,2,105]]

In [125]:
def hero_pairs(team_composition):
    list_of_hero_pair = []
    for hero1 in team_composition[0]:
        for hero2 in team_composition[1]:
            list_of_hero_pair.append((int(hero1),int(hero2)))
    return list_of_hero_pair

In [138]:
def winrate_pairs(hero_pairs, winrate_dataframe):
    pair_winrates = []
    winrate = 0
    for pair in hero_pairs:
        winrate = winrate_dataframe.loc[(winrate_dataframe["hero"] == pair[0]) & (winrate_dataframe["opponent"] == pair[1]), "win_rate"]
        print(pair,winrate)
        pair_winrates.append(winrate)
    return pair_winrates

In [151]:
def combined_winrate(winrate_pairs):
    ### Make sure to return a winrate, even if the pair is returned as (number,NaN)
    combined_winrate = np.mean(winrate_pairs)
    return combined_winrate

In [155]:
### This is the problem
np.mean([2, None])

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [140]:
def winrate_for_team(test_dataframe, winrate_dataframe):
    radiant_comp = test_dataframe["radiant_team"].to_list()
    dire_comp = test_dataframe["dire_team"].to_list()
    team_winrates = []
    for i in range(len(radiant_comp)):
        team_composition = [radiant_comp[i],dire_comp[i]]
        ### first we compute the hero pairs
        hero_pair = hero_pairs(team_composition)
        ### second we generate the winrate between each hero on radiant and dire
        winrate_pair = winrate_pairs(hero_pair,winrate_dataframe)
        ### third we combine the winrate into a team winrate
        team_winrate = combined_winrate(winrate_pair)
        team_winrates.append(combined_winrate(winrate_pair))
        if team_winrate > 0.5:
            print(f"Radiant has the advantage and a chance of {round(team_winrate * 100,1)} to win")
        elif team_winrate <= 0.5:
            print(f"Dire has the advantage and a chance of {round((1-team_winrate) * 100,1)} to win")
        elif team_winrate == None:
            print("Not enough hero data to tell a winrate")
    return team_winrates

In [141]:
winrate_for_team(test_set, winrate_dataframe)

(113, 106) 13170    0.529
26365    0.455
Name: win_rate, dtype: float64
(113, 66) 13131    0.333
21662    0.333
Name: win_rate, dtype: float64
(113, 13) 13081    0.611
15536    0.538
Name: win_rate, dtype: float64
(113, 67) 13132    0.333
21780    0.143
Name: win_rate, dtype: float64
(113, 39) 13106    0.2
18481    0.3
Name: win_rate, dtype: float64
(96, 106) 11175    0.460
26349    0.449
Name: win_rate, dtype: float64
(96, 66) 11136    0.470
21645    0.382
Name: win_rate, dtype: float64
(96, 13) 11084    0.531
15519    0.551
Name: win_rate, dtype: float64
(96, 67) 11137    0.581
21763    0.462
Name: win_rate, dtype: float64
(96, 39) 11109    0.382
18464    0.407
Name: win_rate, dtype: float64
(1, 106) 103      0.629
26255    0.540
Name: win_rate, dtype: float64
(1, 66) 63       0.267
21552    0.286
Name: win_rate, dtype: float64
(1, 13) 11       0.553
15426    0.467
Name: win_rate, dtype: float64
(1, 67) 64       0.812
21670    0.692
Name: win_rate, dtype: float64
(1, 39) 36       0.548
18371    0.586
Name: win_rate, dtype: float64
(83, 106) 9648     0.604
26336    0.449
Name: win_rate, dtype: float64
(83, 66) 9609     0.486
21632    0.462
Name: win_rate, dtype: float64
(83, 13) 9557     0.600
15506    0.554
Name: win_rate, dtype: float64
(83, 67) 9610     0.615
21750    0.375
Name: win_rate, dtype: float64
(83, 39) 9582     0.411
18451    0.491
Name: win_rate, dtype: float64
(58, 106) 6702     0.637
26311    0.508
Name: win_rate, dtype: float64
(58, 66) 6662     0.419
21608    0.286
Name: win_rate, dtype: float64
(58, 13) 6611     0.492
15481    0.485
Name: win_rate, dtype: float64
(58, 67) 6663     0.571
21726    0.350
Name: win_rate, dtype: float64
(58, 39) 6636     0.429
18426    0.509
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 52.9 to win
(96, 19) 11090    0.477
16225    0.486
Name: win_rate, dtype: float64
(96, 111) 11180    0.588
26937    0.412
Name: win_rate, dtype: float64
(96, 39) 11109    0.382
18464    0.407
Name: win_rate, dtype: float64
(96, 6) 11077    0.547
14693    0.407
Name: win_rate, dtype: float64
(96, 16) 11087    0.577
15871    0.522
Name: win_rate, dtype: float64
(22, 19) 2494     0.511
16152    0.465
Name: win_rate, dtype: float64
(22, 111) 2584     0.619
26864    0.273
Name: win_rate, dtype: float64
(22, 39) 2512     0.650
18392    0.357
Name: win_rate, dtype: float64
(22, 6) 2481     0.700
14620    0.643
Name: win_rate, dtype: float64
(22, 16) 2491     0.615
15798    0.639
Name: win_rate, dtype: float64
(46, 19) 5204     0.538
16175    0.649
Name: win_rate, dtype: float64
(46, 111) 5294     0.539
26887    0.533
Name: win_rate, dtype: float64
(46, 39) 5223     0.446
18414    0.418
Name: win_rate, dtype: float64
(46, 6) 5191     0.682
14643    0.511
Name: win_rate, dtype: float64
(46, 16) 5201     0.615
15821    0.600
Name: win_rate, dtype: float64
(119, 19) 13320    0.562
16244    0.523
Name: win_rate, dtype: float64
(119, 111) 13411    0.433
26955    0.400
Name: win_rate, dtype: float64
(119, 39) 13339    0.375
18483    0.452
Name: win_rate, dtype: float64
(119, 6) 13307    0.562
14712    0.429
Name: win_rate, dtype: float64
(119, 16) 13317    0.441
15890    0.393
Name: win_rate, dtype: float64
(93, 19) 10737    0.604
16222    0.486
Name: win_rate, dtype: float64
(93, 111) 10827    0.506
26934    0.440
Name: win_rate, dtype: float64
(93, 39) 10756    0.609
18461    0.463
Name: win_rate, dtype: float64
(93, 6) 10724    0.630
14690    0.444
Name: win_rate, dtype: float64
(93, 16) 10734    0.517
15868    0.580
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 51.3 to win
(38, 35) 4276     0.591
17936    0.632
Name: win_rate, dtype: float64
(38, 93) 4333     0.682
24765    0.512
Name: win_rate, dtype: float64
(38, 31) 4272     0.657
17465    0.571
Name: win_rate, dtype: float64
(38, 82) 4322     0.533
23474    0.476
Name: win_rate, dtype: float64
(38, 96) 4336     0.600
25118    0.527
Name: win_rate, dtype: float64
(3, 35) 268      0.667
17903    0.308
Name: win_rate, dtype: float64
(3, 93) 326      0.636
24731    0.615
Name: win_rate, dtype: float64
(3, 31) 264      0.692
17432    0.488
Name: win_rate, dtype: float64
(3, 82) 315      0.154
23440    0.556
Name: win_rate, dtype: float64
(3, 96) 329      0.647
25084    0.508
Name: win_rate, dtype: float64
(88, 35) 10168    0.857
17985    0.500
Name: win_rate, dtype: float64
(88, 93) 10225    0.588
24815    0.426
Name: win_rate, dtype: float64
(88, 31) 10164    0.617
17515    0.600
Name: win_rate, dtype: float64
(88, 82) 10215    0.250
23523    0.357
Name: win_rate, dtype: float64
(88, 96) 10228    0.603
25168    0.604
Name: win_rate, dtype: float64
(126, 35) 13689    0.750
18014    0.643
Name: win_rate, dtype: float64
(126, 93) 13747    0.519
24844    0.442
Name: win_rate, dtype: float64
(126, 31) 13685    0.545
17545    0.578
Name: win_rate, dtype: float64
(126, 82) 13736    0.261
23552    0.250
Name: win_rate, dtype: float64
(126, 96) 13750    0.585
25197    0.479
Name: win_rate, dtype: float64
(42, 35) 4748     0.562
17940    0.667
Name: win_rate, dtype: float64
(42, 93) 4805     0.468
24769    0.481
Name: win_rate, dtype: float64
(42, 31) 4744     0.623
17469    0.552
Name: win_rate, dtype: float64
(42, 82) 4794     0.500
23478    0.455
Name: win_rate, dtype: float64
(42, 96) 4808     0.571
25122    0.521
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 53.8 to win
(110, 9) 12723    0.410
15061    0.398
Name: win_rate, dtype: float64
(110, 84) 12797    0.529
23780    0.500
Name: win_rate, dtype: float64
(110, 38) 12751    0.506
18360    0.449
Name: win_rate, dtype: float64
(110, 101) 12814    0.424
25779    0.481
Name: win_rate, dtype: float64
(110, 70) 12783    0.476
22131    0.522
Name: win_rate, dtype: float64
(23, 9) 2602     0.512
14975    0.464
Name: win_rate, dtype: float64
(23, 84) 2675     0.613
23695    0.475
Name: win_rate, dtype: float64
(23, 38) 2629     0.505
18275    0.541
Name: win_rate, dtype: float64
(23, 101) 2692     0.500
25694    0.536
Name: win_rate, dtype: float64
(23, 70) 2661     0.51
22046    0.50
Name: win_rate, dtype: float64
(39, 9) 4369     0.548
14990    0.388
Name: win_rate, dtype: float64
(39, 84) 4442     0.584
23710    0.537
Name: win_rate, dtype: float64
(39, 38) 4397     0.481
18289    0.390
Name: win_rate, dtype: float64
(39, 101) 4459     0.682
25709    0.467
Name: win_rate, dtype: float64
(39, 70) 4428     0.464
22061    0.481
Name: win_rate, dtype: float64
(1, 9) 7        0.600
14954    0.333
Name: win_rate, dtype: float64
(1, 84) 81       0.694
23673    0.444
Name: win_rate, dtype: float64
(1, 38) 35       0.556
18253    0.438
Name: win_rate, dtype: float64
(1, 101) 98       0.607
25672    0.500
Name: win_rate, dtype: float64
(1, 70) 67       0.500
22024    0.412
Name: win_rate, dtype: float64
(7, 9) 715      0.488
14960    0.436
Name: win_rate, dtype: float64
(7, 84) 789      0.541
23679    0.527
Name: win_rate, dtype: float64
(7, 38) 743      0.344
18259    0.357
Name: win_rate, dtype: float64
(7, 101) 806      0.646
25678    0.468
Name: win_rate, dtype: float64
(7, 70) 775      0.532
22030    0.414
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 50.6 to win
(107, 48) 12409    0.583
19535    0.500
Name: win_rate, dtype: float64
(107, 106) 12467    0.466
26359    0.447
Name: win_rate, dtype: float64
(107, 3) 12365    0.516
14350    0.276
Name: win_rate, dtype: float64
(107, 93) 12454    0.347
24833    0.348
Name: win_rate, dtype: float64
(107, 53) 12414    0.457
20125    0.429
Name: win_rate, dtype: float64
(59, 48) 6763     0.333
19488    1.000
Name: win_rate, dtype: float64
(59, 106) 6820     0.571
26312    0.469
Name: win_rate, dtype: float64
(59, 3) 6719     0.70
14302    0.75
Name: win_rate, dtype: float64
(59, 93) 6807     0.593
24786    0.409
Name: win_rate, dtype: float64
(59, 53) 6768     0.348
20077    0.412
Name: win_rate, dtype: float64
(89, 48) 10299    0.444
19518    0.200
Name: win_rate, dtype: float64
(89, 106) 10356    0.556
26342    0.448
Name: win_rate, dtype: float64
(89, 3) 10255    0.562
14332    0.368
Name: win_rate, dtype: float64
(89, 93) 10343    0.533
24816    0.500
Name: win_rate, dtype: float64
(89, 53) 10304    0.592
20107    0.527
Name: win_rate, dtype: float64
(21, 48) 2403     0.538
19452    0.364
Name: win_rate, dtype: float64
(21, 106) 2461     0.466
26275    0.281
Name: win_rate, dtype: float64
(21, 3) 2360     0.476
14265    0.190
Name: win_rate, dtype: float64
(21, 93) 2448     0.500
24749    0.391
Name: win_rate, dtype: float64
(21, 53) 2408     0.367
20041    0.556
Name: win_rate, dtype: float64

(110, 48) 12761    0.353
19538    0.379
Name: win_rate, dtype: float64
(110, 106) 12819    0.398
26362    0.371
Name: win_rate, dtype: float64
(110, 3) 12717    0.491
14353    0.333
Name: win_rate, dtype: float64
(110, 93) 12806    0.615
24836    0.472
Name: win_rate, dtype: float64
(110, 53) 12766    0.565
20128    0.482
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 53.5 to win
(38, 39) 4279     0.610
18407    0.519
Name: win_rate, dtype: float64
(38, 83) 4323     0.516
23591    0.440
Name: win_rate, dtype: float64
(38, 51) 4291     0.618
19821    0.588
Name: win_rate, dtype: float64
(38, 93) 4333     0.682
24765    0.512
Name: win_rate, dtype: float64
(38, 56) 4296     0.500
20410    0.487
Name: win_rate, dtype: float64
(100, 39) 11581    0.444
18468    0.418
Name: win_rate, dtype: float64
(100, 83) 11625    0.442
23652    0.326
Name: win_rate, dtype: float64
(100, 51) 11593    0.366
19882    0.482
Name: win_rate, dtype: float64
(100, 93) 11635    0.483
24826    0.537
Name: win_rate, dtype: float64
(100, 56) 11598    0.417
20471    0.368
Name: win_rate, dtype: float64
(10, 39) 1098     0.521
18380    0.478
Name: win_rate, dtype: float64
(10, 83) 1142     0.458
23564    0.435
Name: win_rate, dtype: float64
(10, 51) 1110     0.488
19794    0.494
Name: win_rate, dtype: float64
(10, 93) 1152     0.520
24738    0.385
Name: win_rate, dtype: float64
(10, 56) 1115     0.40
20383    0.52
Name: win_rate, dtype: float64
(129, 39) 13929    0.440
18488    0.395
Name: win_rate, dtype: float64
(129, 83) 13973    0.481
23672    0.413
Name: win_rate, dtype: float64
(129, 51) 13941    0.345
19902    0.372
Name: win_rate, dtype: float64
(129, 93) 13983    0.559
24846    0.488
Name: win_rate, dtype: float64
(129, 56) 13946    0.429
20490    0.611
Name: win_rate, dtype: float64
(5, 39) 508      0.600
18375    0.556
Name: win_rate, dtype: float64
(5, 83) 552      0.440
23559    0.459
Name: win_rate, dtype: float64
(5, 51) 520      0.442
19789    0.429
Name: win_rate, dtype: float64
(5, 93) 562      0.619
24733    0.516
Name: win_rate, dtype: float64
(5, 56) 525      0.571
20378    0.727
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 51.3 to win
(38, 66) 4306     0.439
21588    0.431
Name: win_rate, dtype: float64
(38, 54) 4294     0.559
20175    0.531
Name: win_rate, dtype: float64
(38, 79) 4319     0.465
23121    0.575
Name: win_rate, dtype: float64
(38, 23) 4265     0.459
16639    0.495
Name: win_rate, dtype: float64
(38, 28) 4269     0.541
17111    0.515
Name: win_rate, dtype: float64
(43, 66) 4896     0.449
21593    0.389
Name: win_rate, dtype: float64
(43, 54) 4884     0.553
20180    0.655
Name: win_rate, dtype: float64
(43, 79) 4909     0.516
23126    0.443
Name: win_rate, dtype: float64
(43, 23) 4855     0.508
16644    0.660
Name: win_rate, dtype: float64
(43, 28) 4859     0.5
17116    0.5
Name: win_rate, dtype: float64
(7, 66) 771      0.483
21558    0.436
Name: win_rate, dtype: float64
(7, 54) 759      0.533
20145    0.511
Name: win_rate, dtype: float64
(7, 79) 784      0.492
23091    0.557
Name: win_rate, dtype: float64
(7, 23) 729      0.453
16610    0.470
Name: win_rate, dtype: float64
(7, 28) 733      0.456
17082    0.414
Name: win_rate, dtype: float64
(111, 66) 12897    0.333
21660    0.346
Name: win_rate, dtype: float64
(111, 54) 12885    0.515
20247    0.423
Name: win_rate, dtype: float64
(111, 79) 12910    0.470
23193    0.408
Name: win_rate, dtype: float64
(111, 23) 12855    0.534
16712    0.466
Name: win_rate, dtype: float64
(111, 28) 12859    0.467
17184    0.451
Name: win_rate, dtype: float64
(67, 66) 7724     0.389
21616    0.333
Name: win_rate, dtype: float64
(67, 54) 7712     0.500
20203    0.414
Name: win_rate, dtype: float64
(67, 79) 7736     0.621
23150    0.406
Name: win_rate, dtype: float64
(67, 23) 7682     0.483
16668    0.567
Name: win_rate, dtype: float64
(67, 28) 7686     0.583
17140    0.571
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 51.5 to win
(53, 63) 6071     0.459
21249    0.493
Name: win_rate, dtype: float64
(53, 129) 6128     0.514
27953    0.508
Name: win_rate, dtype: float64
(53, 9) 6019     0.295
15004    0.403
Name: win_rate, dtype: float64
(53, 112) 6120     0.475
27012    0.385
Name: win_rate, dtype: float64
(53, 121) 6125     0.583
27599    0.553
Name: win_rate, dtype: float64
(86, 63) 9960     0.557
21281    0.459
Name: win_rate, dtype: float64
(86, 129) 10016    0.534
27986    0.448
Name: win_rate, dtype: float64
(86, 9) 9907     0.484
15037    0.457
Name: win_rate, dtype: float64
(86, 112) 10008    0.474
27045    0.470
Name: win_rate, dtype: float64
(86, 121) 10013    0.545
27632    0.544
Name: win_rate, dtype: float64
(67, 63) 7721     0.600
21262    0.364
Name: win_rate, dtype: float64
(67, 129) 7777     0.613
27967    0.441
Name: win_rate, dtype: float64
(67, 9) 7668     0.378
15018    0.438
Name: win_rate, dtype: float64
(67, 112) 7769     0.64
27026    0.63
Name: win_rate, dtype: float64
(67, 121) 7774     0.549
27613    0.375
Name: win_rate, dtype: float64
(99, 63) 11487    0.391
21294    0.448
Name: win_rate, dtype: float64
(99, 129) 11543    0.500
27999    0.375
Name: win_rate, dtype: float64
(99, 9) 11434    0.418
15050    0.358
Name: win_rate, dtype: float64
(99, 112) 11535    0.483
27058    0.353
Name: win_rate, dtype: float64
(99, 121) 11540    0.619
27645    0.494
Name: win_rate, dtype: float64
(21, 63) 2418     0.462
21218    0.333
Name: win_rate, dtype: float64
(21, 129) 2475     0.579
27922    0.250
Name: win_rate, dtype: float64
(21, 9) 2366     0.579
14973    0.289
Name: win_rate, dtype: float64
(21, 112) 2467     0.571
26981    0.471
Name: win_rate, dtype: float64
(21, 121) 2472     0.455
27568    0.466
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 52.9 to win
(39, 110) 4468     0.541
26762    0.443
Name: win_rate, dtype: float64
(39, 86) 4444     0.482
23946    0.517
Name: win_rate, dtype: float64
(39, 10) 4370     0.522
15108    0.479
Name: win_rate, dtype: float64
(39, 47) 4405     0.486
19351    0.471
Name: win_rate, dtype: float64
(39, 98) 4456     0.500
25355    0.525
Name: win_rate, dtype: float64
(67, 110) 7767     0.542
26790    0.440
Name: win_rate, dtype: float64
(67, 86) 7743     0.566
23974    0.422
Name: win_rate, dtype: float64
(67, 10) 7669     0.421
15136    0.500
Name: win_rate, dtype: float64
(67, 47) 7705     0.333
19378    0.125
Name: win_rate, dtype: float64
(67, 98) 7755     0.625
25383    0.350
Name: win_rate, dtype: float64
(53, 110) 6118     0.518
26776    0.435
Name: win_rate, dtype: float64
(53, 86) 6094     0.524
23960    0.507
Name: win_rate, dtype: float64
(53, 10) 6020     0.508
15122    0.518
Name: win_rate, dtype: float64
(53, 47) 6056     0.559
19364    0.517
Name: win_rate, dtype: float64
(53, 98) 6106     0.542
25369    0.492
Name: win_rate, dtype: float64
(26, 110) 2937     0.333
26749    0.348
Name: win_rate, dtype: float64
(26, 86) 2913     0.427
23933    0.364
Name: win_rate, dtype: float64
(26, 10) 2839     0.409
15095    0.382
Name: win_rate, dtype: float64
(26, 47) 2874     0.700
19338    0.381
Name: win_rate, dtype: float64
(26, 98) 2925     0.517
25342    0.450
Name: win_rate, dtype: float64
(25, 110) 2819     0.565
26748    0.495
Name: win_rate, dtype: float64
(25, 86) 2795     0.516
23932    0.437
Name: win_rate, dtype: float64
(25, 10) 2721     0.571
15094    0.540
Name: win_rate, dtype: float64
(25, 47) 2756     0.492
19337    0.456
Name: win_rate, dtype: float64
(25, 98) 2807     0.466
25341    0.446
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 52.6 to win
(109, 58) 12653    0.333
20715    0.474
Name: win_rate, dtype: float64
(109, 70) 12665    0.500
22130    0.545
Name: win_rate, dtype: float64
(109, 46) 12641    0.441
19302    0.500
Name: win_rate, dtype: float64
(109, 7) 12603    0.423
14824    0.514
Name: win_rate, dtype: float64
(109, 36) 12631    0.3
18123    0.5
Name: win_rate, dtype: float64
(112, 58) 13007    0.500
20718    0.479
Name: win_rate, dtype: float64
(112, 70) 13019    0.485
22133    0.310
Name: win_rate, dtype: float64
(112, 46) 12995    0.588
19305    0.525
Name: win_rate, dtype: float64
(112, 7) 12957    0.543
14827    0.491
Name: win_rate, dtype: float64
(112, 36) 12985    0.478
18126    0.406
Name: win_rate, dtype: float64
(3, 58) 291      0.514
20611    0.533
Name: win_rate, dtype: float64
(3, 70) 303      0.533
22026    0.487
Name: win_rate, dtype: float64
(3, 46) 279      0.489
19198    0.446
Name: win_rate, dtype: float64
(3, 7) 241      0.532
14720    0.568
Name: win_rate, dtype: float64
(3, 36) 269      0.533
18019    0.552
Name: win_rate, dtype: float64
(13, 58) 1471     0.515
20621    0.508
Name: win_rate, dtype: float64
(13, 70) 1483     0.484
22036    0.475
Name: win_rate, dtype: float64
(13, 46) 1459     0.407
19208    0.475
Name: win_rate, dtype: float64
(13, 7) 1422     0.504
14729    0.492
Name: win_rate, dtype: float64
(13, 36) 1449     0.387
18029    0.552
Name: win_rate, dtype: float64
(35, 58) 3946     0.400
20642    0.429
Name: win_rate, dtype: float64
(35, 70) 3958     0.5
22057    0.0
Name: win_rate, dtype: float64
(35, 46) 3934     0.500
19229    0.333
Name: win_rate, dtype: float64
(35, 7) 3897     0.818
14750    0.478
Name: win_rate, dtype: float64
(35, 36) 3924     0.333
18050    0.667
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 52.4 to win
(100, 37) 11579    0.818
18232    0.579
Name: win_rate, dtype: float64
(100, 126) 11659    0.425
27764    0.523
Name: win_rate, dtype: float64
(100, 67) 11609    0.737
21767    0.692
Name: win_rate, dtype: float64
(100, 104) 11645    0.483
26124    0.564
Name: win_rate, dtype: float64
(100, 21) 11564    0.519
16465    0.655
Name: win_rate, dtype: float64
(12, 37) 1332     0.556
18146    0.647
Name: win_rate, dtype: float64
(12, 126) 1413     0.526
27677    0.377
Name: win_rate, dtype: float64
(12, 67) 1362     0.438
21681    0.423
Name: win_rate, dtype: float64
(12, 104) 1399     0.418
26037    0.485
Name: win_rate, dtype: float64
(12, 21) 1317     0.621
16379    0.647
Name: win_rate, dtype: float64
(39, 37) 4396     0.722
18171    0.667
Name: win_rate, dtype: float64
(39, 126) 4476     0.511
27703    0.500
Name: win_rate, dtype: float64
(39, 67) 4425     0.655
21707    0.405
Name: win_rate, dtype: float64
(39, 104) 4462     0.533
26063    0.500
Name: win_rate, dtype: float64
(39, 21) 4381     0.622
16404    0.550
Name: win_rate, dtype: float64
(9, 37) 978      0.645
18143    0.562
Name: win_rate, dtype: float64
(9, 126) 1059     0.486
27674    0.523
Name: win_rate, dtype: float64
(9, 67) 1008     0.562
21678    0.622
Name: win_rate, dtype: float64
(9, 104) 1045     0.571
26034    0.547
Name: win_rate, dtype: float64
(9, 21) 963      0.711
16376    0.421
Name: win_rate, dtype: float64
(112, 37) 12986    0.684
18244    0.312
Name: win_rate, dtype: float64
(112, 126) 13066    0.377
27776    0.429
Name: win_rate, dtype: float64
(112, 67) 13016    0.37
21779    0.36
Name: win_rate, dtype: float64
(112, 104) 13053    0.532
26135    0.438
Name: win_rate, dtype: float64
(112, 21) 12971    0.529
16477    0.429
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 53.8 to win
(14, 20) 1552     0.545
16263    0.182
Name: win_rate, dtype: float64
(14, 9) 1542     0.615
14966    0.500
Name: win_rate, dtype: float64
(14, 23) 1555     0.611
16617    0.517
Name: win_rate, dtype: float64
(14, 102) 1631     0.400
25803    0.471
Name: win_rate, dtype: float64
(14, 36) 1566     0.5
18030    0.6
Name: win_rate, dtype: float64
(67, 20) 7679     0.611
16314    0.417
Name: win_rate, dtype: float64
(67, 9) 7668     0.378
15018    0.438
Name: win_rate, dtype: float64
(67, 23) 7682     0.483
16668    0.567
Name: win_rate, dtype: float64
(67, 102) 7759     0.455
25855    0.417
Name: win_rate, dtype: float64
(67, 36) 7694     0.500
18081    0.478
Name: win_rate, dtype: float64
(105, 20) 12153    0.0
16352    0.5
Name: win_rate, dtype: float64
(105, 9) 12142    0.75
15056    0.00
Name: win_rate, dtype: float64
(105, 23) 12156    0.75
16706    0.40
Name: win_rate, dtype: float64
(105, 102) 12227    0.667
25892    0.333
Name: win_rate, dtype: float64
(105, 36) 12167    0.0
18119    0.0
Name: win_rate, dtype: float64
(39, 20) 4380     0.417
16286    0.351
Name: win_rate, dtype: float64
(39, 9) 4369     0.548
14990    0.388
Name: win_rate, dtype: float64
(39, 23) 4383     0.526
16640    0.500
Name: win_rate, dtype: float64
(39, 102) 4460     0.386
25827    0.534
Name: win_rate, dtype: float64
(39, 36) 4395     0.625
18053    0.486
Name: win_rate, dtype: float64
(64, 20) 7325     0.472
16311    0.579
Name: win_rate, dtype: float64
(64, 9) 7314     0.524
15015    0.448
Name: win_rate, dtype: float64
(64, 23) 7328     0.462
16665    0.543
Name: win_rate, dtype: float64
(64, 102) 7405     0.489
25852    0.316
Name: win_rate, dtype: float64
(64, 36) 7340     0.467
18078    0.520
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 54.7 to win
(48, 31) 5451     0.217
17475    0.571
Name: win_rate, dtype: float64
(48, 9) 5430     0.538
14999    0.419
Name: win_rate, dtype: float64
(48, 88) 5507     0.333
24191    0.500
Name: win_rate, dtype: float64
(48, 82) 5501     0.5
23484    1.0
Name: win_rate, dtype: float64
(48, 10) 5431     0.667
15117    0.548
Name: win_rate, dtype: float64
(56, 31) 6393     0.423
17483    0.562
Name: win_rate, dtype: float64
(56, 9) 6372     0.368
15007    0.562
Name: win_rate, dtype: float64
(56, 88) 6449     0.667
24199    0.500
Name: win_rate, dtype: float64
(56, 82) 6443     0.333
23492    0.600
Name: win_rate, dtype: float64
(56, 10) 6373     0.48
15125    0.60
Name: win_rate, dtype: float64
(39, 31) 4390     0.658
17466    0.472
Name: win_rate, dtype: float64
(39, 9) 4369     0.548
14990    0.388
Name: win_rate, dtype: float64
(39, 88) 4446     0.477
24182    0.525
Name: win_rate, dtype: float64
(39, 82) 4440     0.412
23475    0.688
Name: win_rate, dtype: float64
(39, 10) 4370     0.522
15108    0.479
Name: win_rate, dtype: float64
(49, 31) 5568     0.530
17476    0.589
Name: win_rate, dtype: float64
(49, 9) 5547     0.453
15000    0.482
Name: win_rate, dtype: float64
(49, 88) 5624     0.431
24192    0.514
Name: win_rate, dtype: float64
(49, 82) 5618     0.250
23485    0.444
Name: win_rate, dtype: float64
(49, 10) 5548     0.576
15118    0.525
Name: win_rate, dtype: float64
(110, 31) 12744    0.584
17537    0.484
Name: win_rate, dtype: float64
(110, 9) 12723    0.410
15061    0.398
Name: win_rate, dtype: float64
(110, 88) 12801    0.415
24252    0.439
Name: win_rate, dtype: float64
(110, 82) 12795    0.444
23544    0.500
Name: win_rate, dtype: float64
(110, 10) 12724    0.482
15179    0.465
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 50.1 to win
(93, 112) 10828    0.543
27052    0.439
Name: win_rate, dtype: float64
(93, 17) 10735    0.491
15986    0.448
Name: win_rate, dtype: float64
(93, 16) 10734    0.517
15868    0.580
Name: win_rate, dtype: float64
(93, 86) 10803    0.454
23999    0.488
Name: win_rate, dtype: float64
(93, 48) 10765    0.409
19522    0.286
Name: win_rate, dtype: float64
(34, 112) 3882     0.391
26993    0.300
Name: win_rate, dtype: float64
(34, 17) 3790     0.571
15927    0.385
Name: win_rate, dtype: float64
(34, 16) 3789     0.32
15809    0.40
Name: win_rate, dtype: float64
(34, 86) 3857     0.324
23941    0.393
Name: win_rate, dtype: float64
(34, 48) 3819     0.333
19464    0.429
Name: win_rate, dtype: float64
(20, 112) 2349     0.513
26980    0.565
Name: win_rate, dtype: float64
(20, 17) 2256     0.596
15914    0.548
Name: win_rate, dtype: float64
(20, 16) 2255     0.476
15796    0.689
Name: win_rate, dtype: float64
(20, 86) 2323     0.531
23928    0.562
Name: win_rate, dtype: float64
(20, 48) 2285     0.526
19451    0.375
Name: win_rate, dtype: float64
(120, 112) 13530    0.407
27074    0.490
Name: win_rate, dtype: float64
(120, 17) 13436    0.512
16009    0.521
Name: win_rate, dtype: float64
(120, 16) 13435    0.600
15891    0.455
Name: win_rate, dtype: float64
(120, 86) 13504    0.483
24022    0.490
Name: win_rate, dtype: float64
(120, 48) 13466    0.667
19544    0.410
Name: win_rate, dtype: float64

(56, 112) 6472     0.714
27015    0.667
Name: win_rate, dtype: float64
(56, 17) 6380     0.667
15949    0.548
Name: win_rate, dtype: float64
(56, 16) 6379     0.500
15831    0.417
Name: win_rate, dtype: float64
(56, 86) 6447     0.538
23963    0.551
Name: win_rate, dtype: float64
(56, 48) 6410     0.833
19485    0.667
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 50.0 to win
(53, 60) 6068     0.429
20896    0.529
Name: win_rate, dtype: float64
(53, 31) 6040     0.519
17480    0.574
Name: win_rate, dtype: float64
(53, 10) 6020     0.508
15122    0.518
Name: win_rate, dtype: float64
(53, 7) 6017     0.474
14768    0.525
Name: win_rate, dtype: float64
(53, 126) 6126     0.514
27717    0.588
Name: win_rate, dtype: float64
(70, 60) 8072     0.267
20912    0.385
Name: win_rate, dtype: float64
(70, 31) 8043     0.508
17497    0.433
Name: win_rate, dtype: float64
(70, 10) 8023     0.543
15139    0.473
Name: win_rate, dtype: float64
(70, 7) 8020     0.586
14785    0.468
Name: win_rate, dtype: float64
(70, 126) 8129     0.468
27734    0.536
Name: win_rate, dtype: float64
(23, 60) 2651     0.447
20867    0.483
Name: win_rate, dtype: float64
(23, 31) 2622     0.545
17452    0.632
Name: win_rate, dtype: float64
(23, 10) 2603     0.487
15093    0.446
Name: win_rate, dtype: float64
(23, 7) 2600     0.530
14739    0.547
Name: win_rate, dtype: float64
(23, 126) 2709     0.368
27688    0.491
Name: win_rate, dtype: float64
(25, 60) 2769     0.426
20868    0.361
Name: win_rate, dtype: float64
(25, 31) 2740     0.562
17453    0.452
Name: win_rate, dtype: float64
(25, 10) 2721     0.571
15094    0.540
Name: win_rate, dtype: float64
(25, 7) 2718     0.496
14740    0.512
Name: win_rate, dtype: float64
(25, 126) 2827     0.465
27689    0.415
Name: win_rate, dtype: float64
(110, 60) 12773    0.486
20952    0.333
Name: win_rate, dtype: float64
(110, 31) 12744    0.584
17537    0.484
Name: win_rate, dtype: float64
(110, 10) 12724    0.482
15179    0.465
Name: win_rate, dtype: float64
(110, 7) 12721    0.545
14825    0.471
Name: win_rate, dtype: float64
(110, 126) 12830    0.495
27774    0.512
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 51.0 to win
(121, 66) 13602    0.392
21666    0.387
Name: win_rate, dtype: float64
(121, 7) 13544    0.427
14832    0.423
Name: win_rate, dtype: float64
(121, 104) 13640    0.500
26140    0.447
Name: win_rate, dtype: float64
(121, 39) 13575    0.463
18485    0.417
Name: win_rate, dtype: float64
(121, 109) 13645    0.490
26721    0.593
Name: win_rate, dtype: float64
(42, 66) 4778     0.391
21592    0.323
Name: win_rate, dtype: float64
(42, 7) 4721     0.478
14757    0.559
Name: win_rate, dtype: float64
(42, 104) 4816     0.469
26066    0.537
Name: win_rate, dtype: float64
(42, 39) 4752     0.562
18410    0.610
Name: win_rate, dtype: float64
(42, 109) 4821     0.333
26647    0.462
Name: win_rate, dtype: float64
(126, 66) 13720    0.379
21667    0.451
Name: win_rate, dtype: float64
(126, 7) 13662    0.528
14833    0.449
Name: win_rate, dtype: float64
(126, 104) 13758    0.485
26141    0.573
Name: win_rate, dtype: float64
(126, 39) 13693    0.500
18486    0.489
Name: win_rate, dtype: float64
(126, 109) 13763    0.593
26722    0.462
Name: win_rate, dtype: float64
(16, 66) 1831     0.391
21567    0.421
Name: win_rate, dtype: float64
(16, 7) 1774     0.456
14732    0.470
Name: win_rate, dtype: float64
(16, 104) 1869     0.551
26041    0.417
Name: win_rate, dtype: float64
(16, 39) 1804     0.562
18386    0.436
Name: win_rate, dtype: float64
(16, 109) 1874     0.364
26622    0.333
Name: win_rate, dtype: float64
(112, 66) 13015    0.415
21661    0.418
Name: win_rate, dtype: float64
(112, 7) 12957    0.543
14827    0.491
Name: win_rate, dtype: float64
(112, 104) 13053    0.532
26135    0.438
Name: win_rate, dtype: float64
(112, 39) 12988    0.524
18480    0.500
Name: win_rate, dtype: float64
(112, 109) 13058    0.429
26716    0.471
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 53.3 to win
(53, 88) 6096     0.542
24196    0.479
Name: win_rate, dtype: float64
(53, 25) 6034     0.609
16772    0.420
Name: win_rate, dtype: float64
(53, 67) 6075     0.515
21721    0.429
Name: win_rate, dtype: float64
(53, 98) 6106     0.542
25369    0.492
Name: win_rate, dtype: float64
(53, 76) 6084     0.571
22783    0.619
Name: win_rate, dtype: float64
(56, 88) 6449     0.667
24199    0.500
Name: win_rate, dtype: float64
(56, 25) 6387     0.348
16775    0.417
Name: win_rate, dtype: float64
(56, 67) 6428     0.462
21724    0.750
Name: win_rate, dtype: float64
(56, 98) 6459     0.75
25372    0.50
Name: win_rate, dtype: float64
(56, 76) 6437     0.250
22786    0.333
Name: win_rate, dtype: float64
(41, 88) 4682     0.400
24184    0.457
Name: win_rate, dtype: float64
(41, 25) 4620     0.587
16760    0.529
Name: win_rate, dtype: float64
(41, 67) 4661     0.595
21709    0.500
Name: win_rate, dtype: float64
(41, 98) 4692     0.600
25357    0.525
Name: win_rate, dtype: float64
(41, 76) 4670     0.577
22771    0.585
Name: win_rate, dtype: float64
(7, 88) 793      0.371
24151    0.450
Name: win_rate, dtype: float64
(7, 25) 730      0.488
16728    0.504
Name: win_rate, dtype: float64
(7, 67) 772      0.444
21676    0.462
Name: win_rate, dtype: float64
(7, 98) 803      0.515
25324    0.500
Name: win_rate, dtype: float64
(7, 76) 781      0.594
22738    0.500
Name: win_rate, dtype: float64
(13, 88) 1501     0.422
24157    0.458
Name: win_rate, dtype: float64
(13, 25) 1438     0.594
16734    0.422
Name: win_rate, dtype: float64
(13, 67) 1480     0.409
21682    0.533
Name: win_rate, dtype: float64
(13, 98) 1511     0.431
25330    0.479
Name: win_rate, dtype: float64
(13, 76) 1489     0.563
22744    0.589
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 50.6 to win
(68, 38) 7814     0.60
18318    0.31
Name: win_rate, dtype: float64
(68, 56) 7832     0.583
20439    0.211
Name: win_rate, dtype: float64
(68, 5) 7782     0.488
14547    0.542
Name: win_rate, dtype: float64
(68, 1) 7778     0.500
14075    0.125
Name: win_rate, dtype: float64
(68, 39) 7815     0.476
18436    0.373
Name: win_rate, dtype: float64
(60, 38) 6871     0.481
18310    0.412
Name: win_rate, dtype: float64
(60, 56) 6889     0.333
20431    1.000
Name: win_rate, dtype: float64
(60, 5) 6839     0.387
14539    0.655
Name: win_rate, dtype: float64
(60, 1) 6835     0.500
14067    0.714
Name: win_rate, dtype: float64
(60, 39) 6872     0.733
18428    0.440
Name: win_rate, dtype: float64
(77, 38) 8876     0.533
18327    0.576
Name: win_rate, dtype: float64
(77, 56) 8894     0.562
20448    0.333
Name: win_rate, dtype: float64
(77, 5) 8844     0.5
14556    0.5
Name: win_rate, dtype: float64
(77, 1) 8840     1.000
14084    0.727
Name: win_rate, dtype: float64
(77, 39) 8877     0.550
18445    0.426
Name: win_rate, dtype: float64
(42, 38) 4751     0.538
18292    0.350
Name: win_rate, dtype: float64
(42, 56) 4768     0.688
20414    0.583
Name: win_rate, dtype: float64
(42, 5) 4719     0.459
14521    0.472
Name: win_rate, dtype: float64
(42, 1) 4715     0.413
14049    0.281
Name: win_rate, dtype: float64
(42, 39) 4752     0.562
18410    0.610
Name: win_rate, dtype: float64
(65, 38) 7460     0.536
18315    0.543
Name: win_rate, dtype: float64
(65, 56) 7478     0.667
20436    0.400
Name: win_rate, dtype: float64
(65, 5) 7428     0.543
14544    0.333
Name: win_rate, dtype: float64
(65, 1) 7424     0.458
14072    0.688
Name: win_rate, dtype: float64
(65, 39) 7461     0.528
18433    0.463
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 51.4 to win
(129, 21) 13912    0.750
16485    0.421
Name: win_rate, dtype: float64
(129, 39) 13929    0.440
18488    0.395
Name: win_rate, dtype: float64
(129, 74) 13964    0.463
22613    0.509
Name: win_rate, dtype: float64
(129, 5) 13896    0.489
14599    0.561
Name: win_rate, dtype: float64
(129, 70) 13960    0.464
22141    0.475
Name: win_rate, dtype: float64
(93, 21) 10739    0.609
16458    0.500
Name: win_rate, dtype: float64
(93, 39) 10756    0.609
18461    0.463
Name: win_rate, dtype: float64
(93, 74) 10791    0.529
22586    0.655
Name: win_rate, dtype: float64
(93, 5) 10723    0.484
14572    0.381
Name: win_rate, dtype: float64
(93, 70) 10787    0.676
22114    0.500
Name: win_rate, dtype: float64
(108, 21) 12501    0.692
16473    0.444
Name: win_rate, dtype: float64
(108, 39) 12517    0.480
18476    0.552
Name: win_rate, dtype: float64
(108, 74) 12552    0.444
22601    0.391
Name: win_rate, dtype: float64
(108, 5) 12485    0.500
14587    0.667
Name: win_rate, dtype: float64
(108, 70) 12548    0.261
22129    0.310
Name: win_rate, dtype: float64
(30, 21) 3322     0.526
16395    0.259
Name: win_rate, dtype: float64

(30, 39) 3338     0.417
18399    0.326
Name: win_rate, dtype: float64
(30, 74) 3373     0.429
22524    0.455
Name: win_rate, dtype: float64
(30, 5) 3306     0.464
14509    0.667
Name: win_rate, dtype: float64
(30, 70) 3369     0.609
22052    0.471
Name: win_rate, dtype: float64
(45, 21) 5089     0.700
16410    0.609
Name: win_rate, dtype: float64
(45, 39) 5106     0.480
18413    0.581
Name: win_rate, dtype: float64
(45, 74) 5140     0.531
22539    0.543
Name: win_rate, dtype: float64
(45, 5) 5073     0.457
14524    0.480
Name: win_rate, dtype: float64
(45, 70) 5136     0.412
22067    0.485
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 50.0 to win
(101, 37) 11697    0.500
18233    0.625
Name: win_rate, dtype: float64
(101, 93) 11753    0.553
24827    0.429
Name: win_rate, dtype: float64
(101, 53) 11713    0.568
20119    0.432
Name: win_rate, dtype: float64
(101, 39) 11699    0.533
18469    0.318
Name: win_rate, dtype: float64
(101, 23) 11684    0.464
16702    0.500
Name: win_rate, dtype: float64
(3, 37) 270      0.526
18137    0.520
Name: win_rate, dtype: float64
(3, 93) 326      0.636
24731    0.615
Name: win_rate, dtype: float64
(3, 53) 286      0.439
20023    0.408
Name: win_rate, dtype: float64
(3, 39) 272      0.609
18373    0.486
Name: win_rate, dtype: float64
(3, 23) 257      0.6
16606    0.6
Name: win_rate, dtype: float64
(65, 37) 7459     0.481
18197    0.583
Name: win_rate, dtype: float64
(65, 93) 7514     0.556
24792    0.477
Name: win_rate, dtype: float64
(65, 53) 7475     0.552
20083    0.533
Name: win_rate, dtype: float64
(65, 39) 7461     0.528
18433    0.463
Name: win_rate, dtype: float64
(65, 23) 7446     0.623
16666    0.492
Name: win_rate, dtype: float64
(114, 37) 13219    0.478
18246    0.619
Name: win_rate, dtype: float64
(114, 93) 13275    0.500
24840    0.511
Name: win_rate, dtype: float64
(114, 53) 13235    0.656
20132    0.463
Name: win_rate, dtype: float64
(114, 39) 13221    0.404
18482    0.321
Name: win_rate, dtype: float64
(114, 23) 13206    0.429
16715    0.494
Name: win_rate, dtype: float64
(10, 37) 1096     0.471
18144    0.333
Name: win_rate, dtype: float64
(10, 93) 1152     0.520
24738    0.385
Name: win_rate, dtype: float64
(10, 53) 1112     0.482
20030    0.492
Name: win_rate, dtype: float64
(10, 39) 1098     0.521
18380    0.478
Name: win_rate, dtype: float64
(10, 23) 1083     0.554
16613    0.513
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 50.5 to win
(93, 121) 10833    0.514
27639    0.581
Name: win_rate, dtype: float64
(93, 112) 10828    0.543
27052    0.439
Name: win_rate, dtype: float64
(93, 53) 10770    0.465
20111    0.489
Name: win_rate, dtype: float64
(93, 21) 10739    0.609
16458    0.500
Name: win_rate, dtype: float64
(93, 10) 10728    0.615
15162    0.480
Name: win_rate, dtype: float64
(66, 121) 7656     0.613
27612    0.608
Name: win_rate, dtype: float64
(66, 112) 7651     0.582
27025    0.585
Name: win_rate, dtype: float64
(66, 53) 7593     0.556
20084    0.615
Name: win_rate, dtype: float64
(66, 21) 7562     0.842
16431    0.278
Name: win_rate, dtype: float64
(66, 10) 7551     0.532
15135    0.614
Name: win_rate, dtype: float64
(36, 121) 4121     0.574
27582    0.500
Name: win_rate, dtype: float64
(36, 112) 4116     0.594
26995    0.522
Name: win_rate, dtype: float64
(36, 53) 4057     0.358
20055    0.417
Name: win_rate, dtype: float64
(36, 21) 4027     0.364
16401    0.389
Name: win_rate, dtype: float64
(36, 10) 4016     0.559
15105    0.391
Name: win_rate, dtype: float64
(13, 121) 1530     0.518
27560    0.500
Name: win_rate, dtype: float64
(13, 112) 1525     0.571
26973    0.511
Name: win_rate, dtype: float64
(13, 53) 1466     0.532
20033    0.490
Name: win_rate, dtype: float64
(13, 21) 1435     0.485
16380    0.532
Name: win_rate, dtype: float64
(13, 10) 1425     0.494
15083    0.491
Name: win_rate, dtype: float64
(126, 121) 13771    0.594
27663    0.529
Name: win_rate, dtype: float64
(126, 112) 13766    0.571
27076    0.623
Name: win_rate, dtype: float64
(126, 53) 13707    0.412
20136    0.486
Name: win_rate, dtype: float64
(126, 21) 13676    0.579
16483    0.615
Name: win_rate, dtype: float64
(126, 10) 13665    0.560
15187    0.597
Name: win_rate, dtype: float64
Radiant has the advantage and a chance of 52.8 to win
(100, 31) 11573    0.451
17527    0.536
Name: win_rate, dtype: float64
(100, 39) 11581    0.444
18468    0.418
Name: win_rate, dtype: float64
(100, 51) 11593    0.366
19882    0.482
Name: win_rate, dtype: float64
(100, 82) 11624    0.333
23534    0.750
Name: win_rate, dtype: float64
(100, 54) 11596    0.583
20236    0.442
Name: win_rate, dtype: float64
(20, 31) 2268     0.529
17449    0.550
Name: win_rate, dtype: float64
(20, 39) 2276     0.649
18390    0.583
Name: win_rate, dtype: float64
(20, 51) 2288     0.590
19804    0.604
Name: win_rate, dtype: float64
(20, 82) 2319     0.467
23457    0.611
Name: win_rate, dtype: float64
(20, 54) 2291     0.647
20158    0.467
Name: win_rate, dtype: float64
(12, 31) 1326     0.531
17441    0.476
Name: win_rate, dtype: float64
(12, 39) 1334     0.348
18382    0.494
Name: win_rate, dtype: float64
(12, 51) 1346     0.486
19796    0.466
Name: win_rate, dtype: float64
(12, 82) 1377     0.421
23449    0.214
Name: win_rate, dtype: float64
(12, 54) 1349     0.441
20150    0.636
Name: win_rate, dtype: float64
(17, 31) 1914     0.505
17446    0.434
Name: win_rate, dtype: float64
(17, 39) 1922     0.382
18387    0.450
Name: win_rate, dtype: float64
(17, 51) 1934     0.448
19801    0.489
Name: win_rate, dtype: float64
(17, 82) 1965     0.455
23454    0.769
Name: win_rate, dtype: float64
(17, 54) 1937     0.464
20155    0.484
Name: win_rate, dtype: float64
(110, 31) 12744    0.584
17537    0.484
Name: win_rate, dtype: float64
(110, 39) 12752    0.557
18478    0.459
Name: win_rate, dtype: float64
(110, 51) 12764    0.542
19892    0.492
Name: win_rate, dtype: float64
(110, 82) 12795    0.444
23544    0.500
Name: win_rate, dtype: float64
(110, 54) 12767    0.418
20246    0.444
Name: win_rate, dtype: float64
Dire has the advantage and a chance of 50.4 to win
(9, 36) 977      0.593
18025    0.536
Name: win_rate, dtype: float64
(9, 58) 999      0.558
20617    0.569
Name: win_rate, dtype: float64
(9, 51) 992      0.683
19793    0.621
Name: win_rate, dtype: float64
(9, 105) 1046     1.00
26152    0.25
Name: win_rate, dtype: float64
(9, 10) 952      0.615
15080    0.517
Name: win_rate, dtype: float64
(29, 36) 3217     0.474
18044    0.455
Name: win_rate, dtype: float64
(29, 58) 3239     0.571
20636    0.333
Name: win_rate, dtype: float64
(29, 51) 3232     0.588
19812    0.533
Name: win_rate, dtype: float64
(29, 105) 3286     0.5
26170    1.0
Name: win_rate, dtype: float64
(29, 10) 3193     0.481
15098    0.536
Name: win_rate, dtype: float64
(69, 36) 7930     0.500
18083    0.462
Name: win_rate, dtype: float64
(69, 58) 7952     0.481
20675    0.333
Name: win_rate, dtype: float64
(69, 51) 7945     0.455
19851    0.476
Name: win_rate, dtype: float64
(69, 105) 7998    0.5
Name: win_rate, dtype: float64
(69, 10) 7905     0.515
15138    0.591
Name: win_rate, dtype: float64
(103, 36) 11932    0.833
18117    0.400
Name: win_rate, dtype: float64
(103, 58) 11954    0.444
20709    0.538
Name: win_rate, dtype: float64
(103, 51) 11947    0.423
19885    0.605
Name: win_rate, dtype: float64
(103, 105) 12000    0.5
26238    0.0
Name: win_rate, dtype: float64
(103, 10) 11907    0.433
15172    0.593
Name: win_rate, dtype: float64
(95, 36) 10988    0.483
18109    0.444
Name: win_rate, dtype: float64
(95, 58) 11010    0.435
20701    0.565
Name: win_rate, dtype: float64
(95, 51) 11003    0.425
19877    0.404
Name: win_rate, dtype: float64
(95, 105) 11056    0.25
26231    1.00
Name: win_rate, dtype: float64
(95, 10) 10963    0.500
15164    0.451
Name: win_rate, dtype: float64

<ipython-input-140-1b8e4b0a1676>:14: RuntimeWarning: invalid value encountered in greater
  if team_winrate > 0.5:

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()