In [2]:
import pandas as pd
from os import listdir
from os.path import isfile, join

# Merge Data

**1. Find all files on rawdata folder and add it to a list**

In [3]:
csv_files = [f for f in listdir("../matchesdata/") if "matches_ids.csv" not in f]

**2. Use pandas to merge csv files**

In [4]:
data = pd.DataFrame(columns=["match_id","victor_team", "radiant_team","dire_team"])

In [5]:
for file in csv_files:
    new = pd.read_csv(f"../matchesdata/{file}")
    data = data.append(new, ignore_index=True)
    data = data.drop_duplicates()

In [6]:
data.tail()

        match_id victor_team      radiant_team        dire_team
6173  5056075486        Dire   85-114-67-86-38  121-16-25-81-82
6174  5055123674     Radiant    84-25-38-86-41  31-16-106-33-73
6175  5051994444     Radiant    64-16-9-46-106  86-41-79-74-104
6176  5068748635        Dire  10-106-101-28-83   84-11-41-74-62
6177  5082967195     Radiant    85-66-52-50-49    10-21-40-30-7

In [8]:
data.to_csv("../data/matches.csv")