In [39]:
import pandas as pd
import numpy as np
import requests
import json
import random, time

In [3]:
### get_matches returns a dataframe from the opendota API with given parameters
### don't run this too often, as there is a request limit of one per second and 50000 pr. month
def get_matches(matches=10000, start_time_less_than=1594771200, mmr_lower=2000, mmr_upper=2500):
    # we build the base url for the opendota api 
    base = 'https://api.opendota.com/api/explorer'
    # we create the SQL percent encoded query. The query is as follows
    #"""
    #SELECT *
    #FROM public_matches
    #LEFT JOIN public_player_matches
    #ON public_matches.match_id = public_player_matches.match_id
    #WHERE lobby_type=7 AND game_mode=22 AND avg_mmr!=0 AND start_time<1594771200
    #ORDER BY start_time DESC
    #LIMIT 10000
    #"""
    matches_request = f'?sql=SELECT%20*%0AFROM%20public_matches%0ALEFT%20JOIN%20public_player_matches%0AON%20public_matches.match_id%20%3D%20public_player_matches.match_id%0AWHERE%20lobby_type%3D7%20AND%20game_mode%3D22%20AND%20avg_mmr!%3D0%20AND%20start_time<{start_time_less_than}%20AND%20avg_mmr>{mmr_lower}%20AND%20avg_mmr<{mmr_upper}%0AORDER%20BY%20start_time%20DESC%0ALIMIT%20{str(matches*10)}'
    
    url = base + matches_request

    result = requests.get(url)
    print(result)
    j_matches = result.json()

    return pd.DataFrame(j_matches["rows"])

In [4]:
practice_data_2000_2500 = get_matches(matches=10000, start_time_less_than=1594771200, mmr_lower=2000, mmr_upper=2500)

<Response [200]>

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,player_slot,hero_id
0,5513436906,4623079558,True,1594771180,2121,2337,2,7,22,35,4,151,132,47
1,5513436906,4623079558,True,1594771180,2121,2337,2,7,22,35,4,151,131,8
2,5513436906,4623079558,True,1594771180,2121,2337,2,7,22,35,4,151,130,21
3,5513436906,4623079558,True,1594771180,2121,2337,2,7,22,35,4,151,129,84
4,5513436906,4623079558,True,1594771180,2121,2337,2,7,22,35,4,151,128,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5511274406,4621117016,False,1594646538,2033,2208,1,7,22,32,5,225,4,27
99996,5511274406,4621117016,False,1594646538,2033,2208,1,7,22,32,5,225,3,32
99997,5511274406,4621117016,False,1594646538,2033,2208,1,7,22,32,5,225,2,67
99998,5511274406,4621117016,False,1594646538,2033,2208,1,7,22,32,5,225,1,54
99999,5511274406,4621117016,False,1594646538,2033,2208,1,7,22,32,5,225,0,59

In [60]:
def practice_data(matches, sleep):
    mmr_steps = [i for i in range(1000, 8001) if i%1000 == 0]
    mmr_brackets = [[mmr_steps[i], mmr_steps[i+1]] for i in range(len(mmr_steps)) if mmr_steps[i] < 8000]
    dataframes = [get_matches(matches, start_time_less_than=1594771200, mmr_lower=lower, mmr_upper=upper) for lower,upper in mmr_brackets if time.sleep(sleep) is None]
    
    return dataframes
    
    #for lower,upper in mmr_brackets:
    #    practice_data_f"{lower}"_f"{upper}" = get_matches(matches=100, start_time_less_than=1594771200, mmr_lower=lower, mmr_upper=upper)

In [61]:
practice_data(100, 2)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

[       match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513435609     4623088038         True  1594771115      2814     1359
 1    5513435609     4623088038         True  1594771115      2814     1359
 2    5513435609     4623088038         True  1594771115      2814     1359
 3    5513435609     4623088038         True  1594771115      2814     1359
 4    5513435609     4623088038         True  1594771115      2814     1359
 ..          ...            ...          ...         ...       ...      ...
 995  5513366808     4623006244        False  1594767333      1985     1944
 996  5513366808     4623006244        False  1594767333      1985     1944
 997  5513366808     4623006244        False  1594767333      1985     1944
 998  5513366808     4623006244        False  1594767333      1985     1944
 999  5513366808     4623006244        False  1594767333      1985     1944

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          1           7         22             29              2      251
 1          1           7         22             29              2      251
 2          1           7         22             29              2      251
 3          1           7         22             29              2      251
 4          1           7         22             29              2      251
 ..       ...         ...        ...            ...            ...      ...
 995        1           7         22             17              2      182
 996        1           7         22             17              2      182
 997        1           7         22             17              2      182
 998        1           7         22             17              2      182
 999        1           7         22             17              2      182

      player_slot  hero_id
 0            132       16
 1            131        7
 2            130       47
 3            129       10
 4            128       14
 ..           ...      ...
 995            4       71
 996            3       60
 997            2       48
 998            1       82
 999            0      104

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513436906     4623079558         True  1594771180      2121     2337
 1    5513436906     4623079558         True  1594771180      2121     2337
 2    5513436906     4623079558         True  1594771180      2121     2337
 3    5513436906     4623079558         True  1594771180      2121     2337
 4    5513436906     4623079558         True  1594771180      2121     2337
 ..          ...            ...          ...         ...       ...      ...
 995  5513406000     4623064219         True  1594769591      3118     2373
 996  5513406000     4623064219         True  1594769591      3118     2373
 997  5513406000     4623064219         True  1594769591      3118     2373
 998  5513406000     4623064219         True  1594769591      3118     2373
 999  5513406000     4623064219         True  1594769591      3118     2373

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          2           7         22             35              4      151
 1          2           7         22             35              4      151
 2          2           7         22             35              4      151
 3          2           7         22             35              4      151
 4          2           7         22             35              4      151
 ..       ...         ...        ...            ...            ...      ...
 995        3           7         22             30              4      185
 996        3           7         22             30              4      185
 997        3           7         22             30              4      185
 998        3           7         22             30              4      185
 999        3           7         22             30              4      185

      player_slot  hero_id
 0            132       47
 1            131        8
 2            130       21
 3            129       84
 4            128       45
 ..           ...      ...
 995            4       96
 996            3      110
 997            2        5
 998            1       41
 999            0        2

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513437212     4623088705         True  1594771194      2467     3265
 1    5513437212     4623088705         True  1594771194      2467     3265
 2    5513437212     4623088705         True  1594771194      2467     3265
 3    5513437212     4623088705         True  1594771194      2467     3265
 4    5513437212     4623088705         True  1594771194      2467     3265
 ..          ...            ...          ...         ...       ...      ...
 995  5513410803     4623050360         True  1594769838      2118     3317
 996  5513410803     4623050360         True  1594769838      2118     3317
 997  5513410803     4623050360         True  1594769838      2118     3317
 998  5513410803     4623050360         True  1594769838      2118     3317
 999  5513410803     4623050360         True  1594769838      2118     3317

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          4           7         22             61              6      154
 1          4           7         22             61              6      154
 2          4           7         22             61              6      154
 3          4           7         22             61              6      154
 4          4           7         22             61              6      154
 ..       ...         ...        ...            ...            ...      ...
 995        3           7         22             54              5      201
 996        3           7         22             54              5      201
 997        3           7         22             54              5      201
 998        3           7         22             54              5      201
 999        3           7         22             54              5      201

      player_slot  hero_id
 0            132       84
 1            131        8
 2            130       39
 3            129       29
 4            128       80
 ..           ...      ...
 995            4       86
 996            3      103
 997            2       42
 998            1       39
 999            0       14

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513437208     4623072527         True  1594771189      1928     4327
 1    5513437208     4623072527         True  1594771189      1928     4327
 2    5513437208     4623072527         True  1594771189      1928     4327
 3    5513437208     4623072527         True  1594771189      1928     4327
 4    5513437208     4623072527         True  1594771189      1928     4327
 ..          ...            ...          ...         ...       ...      ...
 995  5513349207     4622991328         True  1594765814      2063     4252
 996  5513349207     4622991328         True  1594765814      2063     4252
 997  5513349207     4622991328         True  1594765814      2063     4252
 998  5513349207     4622991328         True  1594765814      2063     4252
 999  5513349207     4622991328         True  1594765814      2063     4252

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          2           7         22             37              6      184
 1          2           7         22             37              6      184
 2          2           7         22             37              6      184
 3          2           7         22             37              6      184
 4          2           7         22             37              6      184
 ..       ...         ...        ...            ...            ...      ...
 995        2           7         22             66              6      123
 996        2           7         22             66              6      123
 997        2           7         22             66              6      123
 998        2           7         22             66              6      123
 999        2           7         22             66              6      123

      player_slot  hero_id
 0            132      104
 1            131      101
 2            130      120
 3            129       67
 4            128       10
 ..           ...      ...
 995            4       14
 996            3       64
 997            2      126
 998            1       22
 999            0       67

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513436918     4623070259         True  1594771180      1688     5019
 1    5513436918     4623070259         True  1594771180      1688     5019
 2    5513436918     4623070259         True  1594771180      1688     5019
 3    5513436918     4623070259         True  1594771180      1688     5019
 4    5513436918     4623070259         True  1594771180      1688     5019
 ..          ...            ...          ...         ...       ...      ...
 995  5513185407     4622847942         True  1594754624      2288     5054
 996  5513185407     4622847942         True  1594754624      2288     5054
 997  5513185407     4622847942         True  1594754624      2288     5054
 998  5513185407     4622847942         True  1594754624      2288     5054
 999  5513185407     4622847942         True  1594754624      2288     5054

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          1           7         22             61              4      151
 1          1           7         22             61              4      151
 2          1           7         22             61              4      151
 3          1           7         22             61              4      151
 4          1           7         22             61              4      151
 ..       ...         ...        ...            ...            ...      ...
 995        3           7         22             74              5      138
 996        3           7         22             74              5      138
 997        3           7         22             74              5      138
 998        3           7         22             74              5      138
 999        3           7         22             74              5      138

      player_slot  hero_id
 0            132       54
 1            131       26
 2            130      113
 3            129       39
 4            128      104
 ..           ...      ...
 995            4       36
 996            3       34
 997            2       54
 998            1        5
 999            0       22

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513376917     4623023371        False  1594767989      2234     6315
 1    5513376917     4623023371        False  1594767989      2234     6315
 2    5513376917     4623023371        False  1594767989      2234     6315
 3    5513376917     4623023371        False  1594767989      2234     6315
 4    5513376917     4623023371        False  1594767989      2234     6315
 ..          ...            ...          ...         ...       ...      ...
 995  5511707804     4621501292         True  1594665670      1342     6982
 996  5511707804     4621501292         True  1594665670      1342     6982
 997  5511707804     4621501292         True  1594665670      1342     6982
 998  5511707804     4621501292         True  1594665670      1342     6982
 999  5511707804     4621501292         True  1594665670      1342     6982

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          2           7         22             77              4      123
 1          2           7         22             77              4      123
 2          2           7         22             77              4      123
 3          2           7         22             77              4      123
 4          2           7         22             77              4      123
 ..       ...         ...        ...            ...            ...      ...
 995        5           7         22             80              5      122
 996        5           7         22             80              5      122
 997        5           7         22             80              5      122
 998        5           7         22             80              5      122
 999        5           7         22             80              5      122

      player_slot  hero_id
 0            132       20
 1            131      109
 2            130      104
 3            129       92
 4            128       86
 ..           ...      ...
 995            4      129
 996            3       53
 997            2      108
 998            1      106
 999            0       79

 [1000 rows x 14 columns],
        match_id  match_seq_num  radiant_win  start_time  duration  avg_mmr  \
 0    5513427218     4623090278         True  1594770678      3278     7715
 1    5513427218     4623090278         True  1594770678      3278     7715
 2    5513427218     4623090278         True  1594770678      3278     7715
 3    5513427218     4623090278         True  1594770678      3278     7715
 4    5513427218     4623090278         True  1594770678      3278     7715
 ..          ...            ...          ...         ...       ...      ...
 995  5504966306     4615510997         True  1594245437      1804     7387
 996  5504966306     4615510997         True  1594245437      1804     7387
 997  5504966306     4615510997         True  1594245437      1804     7387
 998  5504966306     4615510997         True  1594245437      1804     7387
 999  5504966306     4615510997         True  1594245437      1804     7387

      num_mmr  lobby_type  game_mode  avg_rank_tier  num_rank_tier  cluster  \
 0          3           7         22             80              4      138
 1          3           7         22             80              4      138
 2          3           7         22             80              4      138
 3          3           7         22             80              4      138
 4          3           7         22             80              4      138
 ..       ...         ...        ...            ...            ...      ...
 995        4           7         22             80              4      135
 996        4           7         22             80              4      135
 997        4           7         22             80              4      135
 998        4           7         22             80              4      135
 999        4           7         22             80              4      135

      player_slot  hero_id
 0            132      107
 1            131       17
 2            130      126
 3            129       93
 4            128      112
 ..           ...      ...
 995            4       66
 996            3      120
 997            2      109
 998            1      114
 999            0       83

 [1000 rows x 14 columns]]

In [58]:
practice_data_1000_2000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=1000, mmr_upper=2000)

<Response [400]>

KeyError: 'rows'

In [ ]:
practice_data_2000_3000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=2000, mmr_upper=3000)

In [ ]:
practice_data_3000_4000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=3000, mmr_upper=4000)

In [ ]:
practice_data_4000_5000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=4000, mmr_upper=5000)

In [ ]:
practice_data_5000_6000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=5000, mmr_upper=6000)

In [ ]:
practice_data_6000_7000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=6000, mmr_upper=7000)

In [ ]:
practice_data_7000_8000 = get_matches(matches=50000, start_time_less_than=1594771200, mmr_lower=7000, mmr_upper=8000)

In [29]:
mmr_steps = [i for i in range(10001) if i%500 == 0]
mmr_brackets = [[mmr_steps[i], mmr_steps[i+1]] for i in range(len(mmr_steps)) if mmr_steps[i] < 10000]

for lower,upper in mmr_brackets:
    print(upper)

500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000