In [12]:
import pandas as pd
from os import listdir
from os.path import isfile, join

# Merge Data

**1. Find all files on rawdata folder and add it to a list**

In [13]:
csv_files = [f for f in listdir("../matchesdata/") if "matches_ids.csv" not in f]

**2. Create column names**

In [14]:
data = pd.DataFrame(columns=["match_id","victor_team", "radiant_team","dire_team"])

**3. Loop for each file on the folder and append to the data frame**

In [15]:
for file in csv_files:
    new = pd.read_csv(f"../matchesdata/{file}")
    data = data.append(new, ignore_index=True)
    data = data.drop_duplicates()

In [16]:
data.tail()

         match_id victor_team       radiant_team        dire_team
11290  5155632958        Dire    100-48-20-58-38   86-52-21-47-79
11291  5144422972     Radiant  112-25-104-102-52    5-13-54-19-53
11292  5147592969     Radiant     50-51-20-75-52  101-106-63-2-85
11293  5144697968     Radiant     57-88-13-74-44    84-16-52-46-6
11294  5178333151        Dire     114-17-28-86-5  23-110-97-96-13

**4. Save the merged data file as csv**

In [18]:
data.to_csv("../data/matches.csv", index=False)