In [43]:
import pandas as pd
import re

In [117]:
data = pd.read_csv("../matchesdata/0-860.csv")
data.head()

     match_id victor_team     radiant_team         dire_team
0  4935182858        Dire  55-106-19-18-79     71-1-21-85-23
1  4912193975     Radiant    71-65-74-2-42    55-92-6-111-62
2  4939511813        Dire     36-7-75-6-85     21-96-45-5-17
3  4910831000        Dire    87-42-2-23-71  111-19-52-114-80
4  4926760335        Dire  86-43-106-65-75   39-121-31-69-42

In [82]:
data["radiant_team"] = data["radiant_team"].str.split("-")
data["dire_team"] = data["dire_team"].str.split("-")
data.head()

     match_id victor_team           radiant_team               dire_team
0  4935182858        Dire  [55, 106, 19, 18, 79]     [71, 1, 21, 85, 23]
1  4912193975     Radiant    [71, 65, 74, 2, 42]    [55, 92, 6, 111, 62]
2  4939511813        Dire     [36, 7, 75, 6, 85]     [21, 96, 45, 5, 17]
3  4910831000        Dire    [87, 42, 2, 23, 71]  [111, 19, 52, 114, 80]
4  4926760335        Dire  [86, 43, 106, 65, 75]   [39, 121, 31, 69, 42]

In [135]:

for x in range(5):
    print(data.loc[(data["radiant_team"].str.contains(str(x), regex=True)) & (data["victor_team"] == "Radiant")])

       match_id victor_team       radiant_team          dire_team
5    4906793465     Radiant      91-8-7-101-26   68-84-50-121-119
10   4902712966     Radiant   64-106-29-100-35    111-15-76-16-55
17   4931871631     Radiant  107-100-16-41-121    129-99-31-54-25
19   4917969657     Radiant    23-70-106-68-85     96-52-30-27-76
24   4920577359     Radiant   35-21-110-95-111    82-30-104-11-51
..          ...         ...                ...                ...
847  4887369350     Radiant   65-112-35-18-100    37-76-15-69-121
851  4898232628     Radiant   73-106-68-86-129     111-2-42-79-43
852  4897632737     Radiant   68-119-120-18-98   106-42-38-129-64
853  4906472860     Radiant    129-87-8-33-106   25-42-114-112-27
859  4936555257     Radiant      5-88-40-93-69  121-61-119-38-106

[213 rows x 4 columns]
       match_id victor_team      radiant_team         dire_team
1    4912193975     Radiant     71-65-74-2-42    55-92-6-111-62
5    4906793465     Radiant     91-8-7-101-26  68-84-50-121-119
10   4902712966     Radiant  64-106-29-100-35   111-15-76-16-55
15   4935104528     Radiant    84-95-58-121-9    57-15-86-70-26
16   4939624594     Radiant    121-23-42-5-96    21-86-106-8-62
..          ...         ...               ...               ...
851  4898232628     Radiant  73-106-68-86-129    111-2-42-79-43
852  4897632737     Radiant  68-119-120-18-98  106-42-38-129-64
853  4906472860     Radiant   129-87-8-33-106  25-42-114-112-27
856  4896124402     Radiant    23-96-121-8-37    18-68-16-25-21
858  4896063153     Radiant    23-98-71-18-27   19-79-95-106-16

[402 rows x 4 columns]
       match_id victor_team      radiant_team         dire_team
1    4912193975     Radiant     71-65-74-2-42    55-92-6-111-62
5    4906793465     Radiant     91-8-7-101-26  68-84-50-121-119
10   4902712966     Radiant  64-106-29-100-35   111-15-76-16-55
15   4935104528     Radiant    84-95-58-121-9    57-15-86-70-26
16   4939624594     Radiant    121-23-42-5-96    21-86-106-8-62
..          ...         ...               ...               ...
851  4898232628     Radiant  73-106-68-86-129    111-2-42-79-43
852  4897632737     Radiant  68-119-120-18-98  106-42-38-129-64
853  4906472860     Radiant   129-87-8-33-106  25-42-114-112-27
856  4896124402     Radiant    23-96-121-8-37    18-68-16-25-21
858  4896063153     Radiant    23-98-71-18-27   19-79-95-106-16

[324 rows x 4 columns]
       match_id victor_team      radiant_team          dire_team
10   4902712966     Radiant  64-106-29-100-35    111-15-76-16-55
16   4939624594     Radiant    121-23-42-5-96     21-86-106-8-62
19   4917969657     Radiant   23-70-106-68-85     96-52-30-27-76
20   4929293343     Radiant   99-28-121-86-93     69-119-52-98-8
24   4920577359     Radiant  35-21-110-95-111    82-30-104-11-51
..          ...         ...               ...                ...
851  4898232628     Radiant  73-106-68-86-129     111-2-42-79-43
853  4906472860     Radiant   129-87-8-33-106   25-42-114-112-27
856  4896124402     Radiant    23-96-121-8-37     18-68-16-25-21
858  4896063153     Radiant    23-98-71-18-27    19-79-95-106-16
859  4936555257     Radiant     5-88-40-93-69  121-61-119-38-106

[250 rows x 4 columns]
       match_id victor_team       radiant_team          dire_team
1    4912193975     Radiant      71-65-74-2-42     55-92-6-111-62
10   4902712966     Radiant   64-106-29-100-35    111-15-76-16-55
15   4935104528     Radiant     84-95-58-121-9     57-15-86-70-26
16   4939624594     Radiant     121-23-42-5-96     21-86-106-8-62
17   4931871631     Radiant  107-100-16-41-121    129-99-31-54-25
..          ...         ...                ...                ...
839  4918805435     Radiant   129-10-45-79-102       86-8-7-96-52
842  4922154678     Radiant     37-74-65-100-1     42-33-43-86-68
844  4927545339     Radiant   107-23-40-68-106    18-121-11-58-88
848  4924718110     Radiant     21-84-68-61-14     77-76-86-96-31
859  4936555257     Radiant      5-88-40-93-69  121-61-119-38-106

[210 rows x 4 columns]