In [31]:
import pandas as pd
import numpy as np

In [60]:
### Import dataset for winrate 
winrate_dataframe = pd.read_csv("../data/heroes_matchups.csv")
winrate_dataframe.loc[(winrate_dataframe["hero"] == 69) & (winrate_dataframe["opponent"] == 105)]

      hero  opponent  hero_wins  games_played  win_rate
7998    69       105          1             2       0.5

In [66]:
### Import dataset for test
test_set = pd.read_csv("../data/random_matches_fixed.csv")
test_set.tail()

,match_id,victor_team,radiant_team,dire_team,match_duration
348,5496943702,Dire,"[107, 23, 30, 64, 1]","[9, 10, 110, 120, 8]",1793
349,5496943914,Dire,"[34, 126, 65, 95, 64]","[86, 90, 104, 56, 48]",2418
350,5496944214,Radiant,"[9, 48, 106, 14, 83]","[49, 38, 12, 100, 86]",1642
351,5496945916,Dire,"[112, 98, 81, 9, 80]","[36, 42, 126, 100, 3]",1356
352,5496946503,Dire,"[54, 5, 63, 80, 108]","[41, 68, 36, 120, 22]",1491