# This notebook calculates the winrate of a team

In [ ]:
import pandas as pd
import numpy as np

In [104]:
# We start of by importing the pivot tables for synergy-winrate and counter-winrate
synergy_pivot = pd.read_pickle("../data/synergy_pivot.pkl")
counter_pivot = pd.read_pickle("../data/counter_pivot.pkl")
match_data = pd.read_pickle("../data/df_matches_grouped.pkl")

In [103]:
synergy_pivot

hero_2,1,2,3,4,5,6,7,8,9,10,...,111,112,113,114,119,120,121,126,128,129
hero_1,,,,,,,,,,,,,,,,,,,,,
1,NaN,0.55,0.60,0.56,0.57,0.53,0.55,0.53,0.55,0.52,...,0.52,0.56,0.62,0.54,0.56,0.55,0.52,0.53,0.53,0.49
2,0.55,NaN,0.54,0.57,0.54,0.54,0.48,0.51,0.54,0.49,...,0.50,0.50,0.58,0.52,0.51,0.48,0.45,0.52,0.55,0.47
3,0.60,0.54,NaN,0.55,0.47,0.58,0.55,0.54,0.56,0.51,...,0.38,0.49,0.49,0.49,0.62,0.54,0.49,0.56,0.56,0.50
4,0.56,0.57,0.55,NaN,0.57,0.50,0.51,0.54,0.56,0.48,...,0.55,0.57,0.43,0.44,0.56,0.50,0.51,0.55,0.47,0.49
5,0.57,0.54,0.47,0.57,NaN,0.52,0.47,0.51,0.54,0.49,...,0.51,0.52,0.52,0.50,0.48,0.50,0.46,0.51,0.46,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.55,0.48,0.54,0.50,0.50,0.47,0.49,0.49,0.50,0.45,...,0.49,0.47,0.42,0.43,0.48,NaN,0.49,0.48,0.50,0.41
121,0.52,0.45,0.49,0.51,0.46,0.44,0.47,0.45,0.44,0.46,...,0.37,0.42,0.53,0.44,0.46,0.49,NaN,0.47,0.45,0.40
126,0.53,0.52,0.56,0.55,0.51,0.51,0.50,0.51,0.54,0.44,...,0.41,0.49,0.51,0.48,0.49,0.48,0.47,NaN,0.50,0.50
128,0.53,0.55,0.56,0.47,0.46,0.49,0.48,0.50,0.55,0.47,...,0.49,0.45,0.53,0.42,0.54,0.50,0.45,0.50,NaN,0.46
129,0.49,0.47,0.50,0.49,0.46,0.48,0.45,0.49,0.51,0.42,...,0.38,0.47,0.36,0.45,0.45,0.41,0.40,0.50,0.46,NaN

### 1. We start off by writing a function to lookup the value of a pair-winrate

In [131]:
def winrate_selector_synergy(hero_pair_tuple):
    
    # Locate the hero chosen on the team
    hero_matchup_rows = synergy_pivot.loc[hero_pair_tuple[0]]
    
    # We select the given hero through the index of the list
    winrate = hero_matchup_rows[hero_pair_tuple[1]]
    
    # We return the winrate
    return winrate

In [132]:
def winrate_selector_counter(hero_pair_tuple):
    
    # Locate the hero chosen on the team
    hero_matchup_rows = counter_pivot.loc[hero_pair_tuple[0]]
    
    # We select the given hero through the index of the list
    winrate = hero_matchup_rows[hero_pair_tuple[1]]
    
    # We return the winrate
    return winrate

### 2. We make a function that returns the tuples of the heroes in the match

In [362]:
match_data

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,radiant_1,radiant_2,radiant_3,radiant_4,radiant_5,dire_1,dire_2,dire_3,dire_4,dire_5
0,5510478612,4620417806,True,1594586690,2721,3174,7,70,8,30,105,119,73,90,31,18
1,5510478615,4620399961,False,1594586691,1155,3623,86,49,84,75,57,40,120,30,1,60
2,5510478700,4620425526,False,1594586691,3281,3243,108,71,8,26,47,59,74,30,21,14
3,5510478702,4620421211,True,1594586695,2988,2405,34,8,10,86,53,48,18,25,85,75
4,5510478708,4620414900,True,1594586700,2277,4464,67,22,37,107,14,74,7,84,45,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,5513436913,4623081152,False,1594771169,2254,3031,69,63,84,7,44,2,45,22,27,73
99996,5513436918,4623070259,True,1594771180,1688,5019,86,53,1,19,84,104,39,113,26,54
99997,5513437003,4623069709,False,1594771184,1790,864,15,108,21,30,53,126,104,110,4,84
99998,5513437208,4623072527,True,1594771189,1928,4327,27,93,6,84,81,10,67,120,101,104
99999,5513437212,4623088705,True,1594771194,2467,3265,25,4,96,75,46,80,29,39,8,84

In [137]:
test_row

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,radiant_1,radiant_2,radiant_3,radiant_4,radiant_5,dire_1,dire_2,dire_3,dire_4,dire_5
0,5510478612,4620417806,True,1594586690,2721,3174,7,70,8,30,105,119,73,90,31,18

In [163]:
test_match = match_data.iloc[0][6:]

In [166]:
test_match["radiant_1"]

7

In [361]:
synergy_tuples(match_data, radiant_slots)
match_data

[(7, 70),
 (7, 8),
 (7, 30),
 (7, 105),
 (70, 7),
 (70, 8),
 (70, 30),
 (70, 105),
 (8, 7),
 (8, 70),
 (8, 30),
 (8, 105),
 (30, 7),
 (30, 70),
 (30, 8),
 (30, 105),
 (105, 7),
 (105, 70),
 (105, 8),
 (105, 30)]

In [287]:
def synergy_tuples(match_data, team_slots):
    # Declare the needed variables
    list_of_tuples = []
    current_tuple = ()
    
    # Use a for loop to loop through team1
    for slot1 in team_slots:
        # Use one more for loop to loop through the other slots on the same team
        for slot2 in team_slots:
            # Make sure that we don't account for the winrate of the same slot
            if slot1 != slot2:
                current_tuple = (match_data[slot1].values[0],match_data[slot2].values[0])
                list_of_tuples.append(current_tuple)
    
    return list_of_tuples

In [289]:
radiant_slots = ["radiant_1",
                 "radiant_2",
                 "radiant_3",
                 "radiant_4",
                 "radiant_5"]

synergy_tuples(test_match, radiant_slots)

[(86, 49),
 (86, 84),
 (86, 75),
 (86, 57),
 (49, 86),
 (49, 84),
 (49, 75),
 (49, 57),
 (84, 86),
 (84, 49),
 (84, 75),
 (84, 57),
 (75, 86),
 (75, 49),
 (75, 84),
 (75, 57),
 (57, 86),
 (57, 49),
 (57, 84),
 (57, 75)]

In [290]:
def counter_tuples(match_data, team_on, team_against):
    # Declare the needed variables
    list_of_tuples = []
    current_tuple = ()
    
    # Use a for loop to loop through team1
    for slot1 in team_on:
        # Use one more for loop to loop through the opponent team
        for slot2 in team_against:
            current_tuple = (match_data[slot1].values[0],match_data[slot2].values[0])
            list_of_tuples.append(current_tuple)
    
    return list_of_tuples

In [291]:
synergy_tuples(test_row, radiant_slots)
counter_tuples(test_row, radiant_slots, dire_slots)

[(7, 119),
 (7, 73),
 (7, 90),
 (7, 31),
 (7, 18),
 (70, 119),
 (70, 73),
 (70, 90),
 (70, 31),
 (70, 18),
 (8, 119),
 (8, 73),
 (8, 90),
 (8, 31),
 (8, 18),
 (30, 119),
 (30, 73),
 (30, 90),
 (30, 31),
 (30, 18),
 (105, 119),
 (105, 73),
 (105, 90),
 (105, 31),
 (105, 18)]

In [350]:
def winrate_calculator(match_data):
    
    # Declare variables
    radiant_slots = ["radiant_1",
                     "radiant_2",
                     "radiant_3",
                     "radiant_4",
                     "radiant_5"]
    
    dire_slots = ["dire_1",
                  "dire_2",
                  "dire_3",
                  "dire_4",
                  "dire_5"]
    
    winrate_radiant_syn_list = []
    winrate_dire_syn_list = []
    winrate_radiant_coun_list = []
    winrate_dire_coun_list = []
    radiant_winrate = 0
    dire_winrate = 0
    
    
    # Declare the tuples to be used for the synergy pivot table lookup
    radiant_syn_tuples = synergy_tuples(match_data, radiant_slots)
    dire_syn_tuples = synergy_tuples(match_data, dire_slots)
    
    # Declare the tuples to be used for the counter pivot table lookup
    radiant_coun_tuples = counter_tuples(match_data, radiant_slots, dire_slots)
    dire_coun_tuples = counter_tuples(match_data, dire_slots, radiant_slots)
    
    # Loop through the synergy tuples for radiant
    for rad_pair in radiant_syn_tuples:
        radiant_winrate = winrate_selector_synergy(rad_pair)
        winrate_radiant_syn_list.append(radiant_winrate)
    
    # Loop through the synergy tuples for dire
    for dir_pair in dire_syn_tuples:
        dire_winrate = winrate_selector_synergy(dir_pair)
        winrate_dire_syn_list.append(dire_winrate)
    
    # Loop through the synergy tuples for radiant
    for hero_matchup in radiant_coun_tuples:
        radiant_winrate = winrate_selector_counter(hero_matchup)
        winrate_radiant_coun_list.append(radiant_winrate)
    
    # Loop through the synergy tuples for radiant
    for hero_matchup in dire_coun_tuples:
        dire_winrate = winrate_selector_counter(hero_matchup)
        winrate_dire_coun_list.append(dire_winrate)
    
    # We save radiant's winrate for synergy and counter separately
    radiant_winrate_syn = np.mean(winrate_radiant_syn_list)
    radiant_winrate_coun = np.mean(winrate_radiant_coun_list)
    # We save dire's winrate for synergy and counter separately
    dire_winrate_syn = np.mean(winrate_dire_syn_list)
    dire_winrate_coun = np.mean(winrate_dire_coun_list)
    
    # We calculate the final winrate for both teams
    radiant_winrate = np.mean([radiant_winrate_syn, radiant_winrate_coun])
    dire_winrate = np.mean([dire_winrate_syn, dire_winrate_coun])
    
    return radiant_winrate, dire_winrate

In [368]:
list_of_winrates = []
for match in range(len(match_data)):
    winrate = winrate_calculator(match_data.iloc[[match]])
    list_of_winrates.append(winrate)

KeyboardInterrupt:

In [353]:
test_match1 = match_data.iloc[[0]]
test_match2 = match_data.iloc[[1]]
test_match3 = match_data.iloc[[2]]
test_match4 = match_data.iloc[[3]]
test_match5 = match_data.iloc[[4]]
test_match6 = match_data.iloc[[5]]
test_match7 = match_data.iloc[[6]]

In [359]:
print(winrate_calculator(test_match1))
print(winrate_calculator(test_match2))
print(winrate_calculator(test_match3))
print(winrate_calculator(test_match4))
print(winrate_calculator(test_match5))
print(winrate_calculator(test_match6))
print(winrate_calculator(test_match7))

(0.5052999999999999, 0.47620000000000007)
(0.47129999999999994, 0.5347)
(0.5104, 0.4859)
(0.46799999999999997, 0.49500000000000005)
(0.5385, 0.48150000000000004)
(0.48050000000000004, 0.538)
(0.5207, 0.4788)

In [358]:
winrate_calculator(match_data)

(0.5052999999999999, 0.47620000000000007)