# DEPRECATED

## The data we obtained from this api is not useful so we decided to continue to do it in other way

In [2]:
import pandas as pd
from os import listdir
from os.path import isfile, join

# Merge Data

**1. Find all files on rawdata folder and add it to a list**

In [3]:
csv_files = [f for f in listdir("../rawdata/")]

**2. Use pandas to merge csv files**

In [4]:
data = pd.DataFrame(columns=["match_id","match_seq_num", "radiant_win","start_time","duration","avg_mmr","num_mmr","lobby_type","game_mode","avg_rank_tier","num_rank_tier","cluster","radiant_team","dire_team"])

In [5]:
for file in csv_files:
    new = pd.read_csv(f"../rawdata/{file}")
    data = data.append(new, ignore_index=True)

In [7]:
data

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5495833601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5495972868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5494436377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5497036314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5496854050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878695,5497386519,4608812348,False,1593787063,1672,5216,5,7,22,80,7,133,107-68-12-59-19,47-64-84-60-70
878696,5497388008,4608830309,False,1593787096,2328,NaN,NaN,7,22,80,3,193,62-110-3-39-95,66-111-129-25-93
878697,5497390804,4608827072,False,1593787229,2160,5218,5,7,22,80,7,154,73-48-100-5-104,51-67-3-45-53
878698,5497392310,4608837472,False,1593787288,2440,5131,2,7,22,80,7,122,49-44-86-62-39,7-2-95-121-106
878699,5497394702,4608808368,True,1593787372,1195,5093,3,7,22,80,4,132,28-21-66-93-92,42-62-23-37-46